.context-menu {
	position: absolute;
	display: none;
	box-shadow: 1px 0 10px 0 rgba(0,0,0,0.5); 
}

.context-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;

	border: 1px solid rgba(0, 0, 0, 0.2);

	min-width: 150px;
}

.context-menu ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	font-family: arial;
	font-size: 14px;

	cursor: pointer;
}

.context-menu ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.context-menu .separator {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
}

li a {
	width: 100%;
	color: #000;
	text-decoration: none;
}